@media screen and (max-width: 1100px) {
  .fp-auto-height .fp-slide,
  .fp-auto-height .fp-tableCell,
  .fp-auto-height.fp-section {
    height: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  .page-content {
    position: relative;
  }
  #section-home {
    height: 100vh;
  }
  .our-photo {
    width: 100%;
  }
  .our-bio {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .our-bio h1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .our-bio .job-wrap {
    text-align: left;
  }
  .our-bio .age {
    float: none;
  }
  #section-about .section-content {
    padding: 60px 0;
  }
  .blog-wrapper {
    margin-bottom: 0;
  }
  .section-content {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  #section-home {
    min-height: 100px;
  }
  .hero {
    width: 100%;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .logo h2 {
    font-size: 26px;
  }
  header {
    top: 0;
    position: fixed;
    height: 50px;
  }
  header .row {
    margin-right: 0;
    margin-left: 0;
  }
  #open-nav {
    display: block;
  }
  .nav ul li {
    width: 100%;
    padding: 10px 0;
  }
  .nav {
    width: 100%;
    text-align: center;
    height: 100%;
    display: block;
    float: none;
    padding: 0 !important;
    -webkit-transform: translateY(-250px);
        -ms-transform: translateY(-250px);
            transform: translateY(-250px);
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-mobile .nav {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  ul#myMenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 4px;
    background: rgba(27, 26, 26, 0.78);
  }
  .nav-mobile header {
    background: rgba(27, 26, 26, 0.78);
  }
  .row {
    margin: 0;
  }
  .hobbies {
    text-align: center;
  }
  .hobby {
    float: none;
  }
  #section-about .section-content {
    padding: 40px 0;
  }
  #section-timeline .timelines {
    padding: 60px 0;
    width: 100%;
  }
  .timeline-item {
    padding: 20px 0;
  }
  .timeline-icon {
    width: 30px;
    height: 30px;
    right: -12px;
    top: 25px;
    font-size: 18px !important;
  }
  .timeline-text {
    padding-right: 0;
    padding-left: 40px;
    text-align: left;
  }
  #section-timeline .row {
    margin: 0;
  }
  .timeline-item:nth-of-type(even) .timeline-icon {
    left: 0;
  }
  .timeline-item:nth-of-type(even) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .timeline-item:nth-of-type(even) .timeline-text {
    padding-left: 40px;
    padding-right: 0;
  }
  .timelines h3 {
    font-size: 24px;
  }
  .timelines:after {
    left: 12px;
    right: auto;
  }
  .timeline-icon {
    right: auto;
    top: 45px;
  }
  #section-timeline .section-content {
    padding-bottom: 0;
  }
  .work-wrapper {
    margin: 0;
  }
  #section-contact .medium-form, #section-contact .large-form {
    width: 100%;
    margin-bottom: 5px;
  }
  #section-contact .social-btn {
    padding: 0 15px;
  }
}

@media screen and (min-width: 569px) and (max-width: 767px) {
  .col-3 {
    width: 50%;
  }
}

/*=============================================
=            Overlay on Mobile Nav            =
=============================================*/
/*=====  End of Overlay on Mobile Nav  ======*/
